In [3]:
import pandas as pd

In [6]:
accidents_data = pd.read_csv("accidents.csv")
accidents_data

  Miles from Home  % of Accidents
0     less than 1              23
1          1 to 5              29
2         6 to 10              17
3        11 to 15               8
4        16 to 20               6
5         over 20              17

In [10]:
green_trip_data = pd.read_excel("green_tripdata_2015-09.xls")
green_trip_data

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,2015-09-01 00:02:34,2015-09-01 00:02:38,N,5,-73.979485,40.684956,-73.979431,40.685020,1,...,7.8,0.0,0.0,1.95,0.00,NaN,0.0,9.75,1,2
1,2,2015-09-01 00:04:20,2015-09-01 00:04:24,N,5,-74.010796,40.912216,-74.010780,40.912212,1,...,45.0,0.0,0.0,0.00,0.00,NaN,0.0,45.00,1,2
2,2,2015-09-01 00:01:50,2015-09-01 00:04:24,N,1,-73.921410,40.766708,-73.914413,40.764687,1,...,4.0,0.5,0.5,0.50,0.00,NaN,0.3,5.80,1,1
3,2,2015-09-01 00:02:36,2015-09-01 00:06:42,N,1,-73.921387,40.766678,-73.931427,40.771584,1,...,5.0,0.5,0.5,0.00,0.00,NaN,0.3,6.30,2,1
4,2,2015-09-01 00:00:14,2015-09-01 00:04:20,N,1,-73.955482,40.714046,-73.944412,40.714729,1,...,5.0,0.5,0.5,0.00,0.00,NaN,0.3,6.30,2,1
5,2,2015-09-01 00:00:39,2015-09-01 00:05:20,N,1,-73.945297,40.808186,-73.937668,40.821198,1,...,5.5,0.5,0.5,1.36,0.00,NaN,0.3,8.16,1,1
6,2,2015-09-01 00:00:52,2015-09-01 00:05:50,N,1,-73.890877,40.746426,-73.876923,40.756306,1,...,6.5,0.5,0.5,0.00,0.00,NaN,0.3,7.80,1,1
7,2,2015-09-01 00:02:15,2015-09-01 00:05:34,N,1,-73.946701,40.797321,-73.937645,40.804516,1,...,5.0,0.5,0.5,0.00,0.00,NaN,0.3,6.30,2,1
8,2,2015-09-01 00:02:36,2015-09-01 00:07:20,N,1,-73.963150,40.693829,-73.956787,40.680531,1,...,6.0,0.5,0.5,1.46,0.00,NaN,0.3,8.76,1,1
9,2,2015-09-01 00:02:13,2015-09-01 00:07:23,N,1,-73.896820,40.746128,-73.888626,40.752724,1,...,5.5,0.5,0.5,0.00,0.00,NaN,0.3,6.80,2,1
10,2,2015-09-01 00:01:12,2015-09-01 00:05:03,N,1,-73.829918,40.713768,-73.834946,40.707291,2,...,5.0,0.5,0.5,0.00,0.00,NaN,0.3,6.30,2,1
11,2,2015-09-01 00:04:00,2015-09-01 00:06:06,N,1,-73.905540,40.772526,-73.895363,40.768963,1,...,4.0,0.5,0.5,1.06,0.00,NaN,0.3,6.36,1,1
12,2,2015-09-01 00:03:06,2015-09-01 00:07:40,N,1,-73.941650,40.818295,-73.950928,40.826031,1,...,5.5,0.5,0.5,0.00,0.00,NaN,0.3,6.80,2,1
13,2,2015-09-01 00:05:01,2015-09-01 00:07:11,N,1,-73.932526,40.856804,-73.931366,40.856117,1,...,3.5,0.5,0.5,0.00,0.00,NaN,0.3,4.80,2,1
14,2,2015-09-01 00:04:59,2015-09-01 00:07:27,N,1,-73.952827,40.808353,-73.949142,40.802910,1,...,4.0,0.5,0.5,0.00,0.00,NaN,0.3,5.30,2,1
15,2,2015-09-01 00:00:58,2015-09-01 00:07:54,N,1,-73.904053,40.878708,-73.896965,40.901131,1,...,7.5,0.5,0.5,0.00,0.00,NaN,0.3,8.80,2,1
16,2,2015-09-01 00:01:09,2015-09-01 00:08:23,N,1,-74.021347,40.647011,-74.004059,40.654594,1,...,7.5,0.5,0.5,0.00,0.00,NaN,0.3,8.80,2,1
17,2,2015-09-01 00:04:02,2015-09-01 00:07:20,N,1,-73.950989,40.680496,-73.953957,40.690422,1,...,5.0,0.5,0.5,1.26,0.00,NaN,0.3,7.56,1,1
18,2,2015-09-01 00:00:17,2015-09-01 00:07:29,N,1,-73.849670,40.724007,-73.835129,40.707199,1,...,7.5,0.5,0.5,0.00,0.00,NaN,0.3,8.80,2,1
19,2,2015-09-01 00:01:32,2015-09-01 00:07:27,N,1,-73.946678,40.806290,-73.936249,40.799252,1,...,5.5,0.5,0.5,0.00,0.00,NaN,0.3,6.80,2,1
20,2,2015-09-01 00:00:23,2015-09-01 00:07:19,N,1,-73.986824,40.702457,-73.972786,40.692902,5,...,8.0,0.5,0.5,0.00,0.00,NaN,0.3,9.30,2,1
21,2,2015-09-01 00:04:22,2015-09-01 00:08:17,N,1,-73.912056,40.775402,-73.893646,40.768505,1,...,6.0,0.5,0.5,1.46,0.00,NaN,0.3,8.76,1,1
22,2,2015-09-01 00:04:08,2015-09-01 00:10:00,N,1,-73.961746,40.713779,-73.985931,40.718048,6,...,8.0,0.5,0.5,1.86,0.00,NaN,0.3,11.16,1,1
23,2,2015-09-01 00:01:30,2015-09-01 00:08:01,N,1,-73.940910,40.698681,-73.941078,40.682850,1,...,7.0,0.5,0.5,0.00,0.00,NaN,0.3,8.30,2,1
24,2,2015-09-01 00:01:06,2015-09-01 00:10:16,N,1,-73.844238,40.721497,-73.808693,40.734402,1,...,10.5,0.5,0.5,0.00,0.00,NaN,0.3,11.80,2,1
25,2,2015-09-01 00:03:22,2015-09-01 00:09:20,N,1,-73.891083,40.746910,-73.878487,40.749401,1,...,6.5,0.5,0.5,0.00,0.00,NaN,0.3,7.80,2,1
26,2,2015-09-01 00:00:35,2015-09-01 00:08:31,N,1,-73.844879,40.755024,-73.872223,40.773991,1,...,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1
27,2,2015-09-01 00:08:11,2015-09-01 00:08:32,N,1,-73.870796,40.733463,-73.870148,40.733574,1,...,2.5,0.5,0.5,0.00,0.00,NaN,0.3,3.80,2,1
28,2,2015-09-01 00:06:37,2015-09-01 00:09:37,N,1,-73.948479,40.813862,-73.941071,40.818840,1,...,3.5,0.5,0.5,0.00,0.00,NaN,0.3,4.80,2,1
29,2,2015-09-01 00:02:38,2015-09-01 00:10:32,N,1,-73.951645,40.713661,-73.950142,40.699890,1,...,7.5,0.5,0.5,0.00,0.00,NaN,0.3,8.80,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65505,2,2015-09-02 16:51:41,2015-09-02 17:00:07,N,1,-73.925362,40.761799,-73.909607,40.769947,1,...,7.0,1.0,0.5,0.00,0.00,NaN,0.3,8.80,2,1
65506,2,2015-09-02 16:20:01,2015-09-02 17:00:55,N,1,-73.980164,40.678703,-73.958199,40.721809,1,...,26.5,1.0,0.5,4.81,0.00,NaN,0.3,33.11,1,1
65507,2,2015-09-02 16:51:52,2015-09-02 17:00:37,N,1,-73.884033,40.747677,-73.868484,40.755466,1,...,7.5,1.0,0.5,0.00,0.00,NaN,0.3,9.30,2,1
65508,2,2015-09-02 16:13:53,2015-09-02 17:01:00,N,1,-73.830322,40.759514,-73.875740,40.772152,1,...,39.0,1.0,0.5,0.00,0.00,NaN,0.3,40.80,2,1
65509,2,2015-09-02 16:55:30,2015-09-02 17:01:55,N,1,-73.950867,40.791393,-73.940628,40.786694,1,...,6.0,1.0,0.5,0.00,0.00,NaN,0.3,7.80,2,1
65510,2,2015-09-02 16:56:35,2015-09-02 17:03:42,N,1,-73.992996,40.697529,-73.990158,40.684162,1,...,6.5,1.0,0.5,2.49,0.00,NaN,0.3,10.79,1,1
65511,2,2015-09-02 16:49:24,2015-09-02 17:03:46,N,1,-73.920547,40.837425,-73.891685,40.861382,1,...,12.0,1.0,0.5,0.00,0.00,NaN,0.3,13.80,2,1
65512,2,2015-09-02 16:49:09,2015-09-02 17:04:41,N,5,-73.913895,40.871346,-73.936668,40.829899,2,...,10.0,0.0,0.0,0.00,0.00,NaN,0.0,10.00,2,2
65513,2,2015-09-02 16:59:45,2015-09-02 17:03:44,N,1,-73.935478,40.804253,-73.939163,40.799149,6,...,5.0,1.0,0.5,0.00,0.00,NaN,0.3,6.80,2,1
65514,2,2015-09-02 16:50:49,2015-09-02 17:04:45,N,1,-73.877045,40.736134,-73.863564,40.737347,1,...,10.5,1.0,0.5,0.00,0.00,NaN,0.3,12.30,2,1
65515,2,2015-09-02 16:53:30,2015-09-02 17:02:59,N,1,-73.869217,40.734035,-73.902351,40.741470,1,...,9.0,1.0,0.5,0.00,0.00,NaN,0.3,10.80,2,1
65516,2,2015-09-02 16:52:57,2015-09-02 17:05:01,N,1,-73.896667,40.679047,-73.882690,40.669720,1,...,10.0,1.0,0.5,0.00,0.00,NaN,0.3,11.80,1,1
65517,2,2015-09-02 16:55:59,2015-09-02 17:05:10,N,1,-73.952354,40.789780,-73.960030,40.804619,1,...,8.0,1.0,0.5,2.45,0.00,NaN,0.3,12.25,1,1
65518,2,2015-09-02 16:38:54,2015-09-02 17:05:21,N,1,-73.956360,40.748058,-73.995018,40.719826,1,...,19.5,1.0,0.5,5.37,5.54,NaN,0.3,32.21,1,1
65519,2,2015-09-02 16:28:58,2015-09-02 17:05:15,N,1,-73.990753,40.694931,-73.926056,40.681595,2,...,23.5,1.0,0.5,0.00,0.00,NaN,0.3,25.30,2,1
65520,2,2015-09-02 16:49:31,2015-09-02 17:04:04,N,1,-73.954796,40.733204,-73.987099,40.723595,1,...,15.0,1.0,0.5,0.00,0.00,NaN,0.3,16.80,2,1
65521,2,2015-09-02 16:35:08,2015-09-02 17:04:15,N,1,-73.991096,40.692375,-73.953918,40.778774,1,...,29.0,1.0,0.5,6.16,0.00,NaN,0.3,36.96,1,1
65522,2,2015-09-02 16:30:54,2015-09-02 17:04:36,N,1,-73.993942,40.686478,-73.993126,40.616165,1,...,32.0,1.0,0.5,8.45,0.00,NaN,0.3,42.25,1,1
65523,2,2015-09-02 16:52:23,2015-09-02 17:00:57,N,1,-73.992523,40.689213,-73.995880,40.698982,1,...,6.5,1.0,0.5,0.00,0.00,NaN,0.3,8.30,2,1
65524,2,2015-09-02 16:41:36,2015-09-02 17:02:57,N,1,-73.987366,40.691696,-73.940804,40.696938,1,...,15.0,1.0,0.5,0.00,0.00,NaN,0.3,16.80,1,1
65525,2,2015-09-02 16:50:39,2015-09-02 17:03:33,N,1,-73.962936,40.804256,-73.955650,40.776756,6,...,12.0,1.0,0.5,3.45,0.00,NaN,0.3,17.25,1,1
65526,2,2015-09-02 16:00:33,2015-09-02 16:03:46,N,1,-73.993469,40.694584,-73.998985,40.693844,1,...,4.0,1.0,0.5,1.16,0.00,NaN,0.3,6.96,1,1
65527,2,2015-09-02 16:56:55,2015-09-02 17:04:19,N,1,-73.844254,40.721298,-73.849846,40.723370,1,...,6.0,1.0,0.5,1.95,0.00,NaN,0.3,9.75,1,1
65528,2,2015-09-02 16:53:11,2015-09-02 17:04:25,N,1,-73.948250,40.804180,-73.947685,40.822720,1,...,9.5,1.0,0.5,2.26,0.00,NaN,0.3,13.56,1,1
65529,2,2015-09-02 16:50:09,2015-09-02 17:03:05,N,1,-73.954117,40.816208,-73.944824,40.791763,1,...,10.5,1.0,0.5,0.00,0.00,NaN,0.3,12.30,2,1
65530,2,2015-09-02 16:51:59,2015-09-02 17:04:00,N,1,-73.829605,40.759716,-73.832214,40.751514,1,...,9.0,1.0,0.5,0.00,0.00,NaN,0.3,10.80,2,1
65531,2,2015-09-02 16:53:51,2015-09-02 17:04:32,N,1,-73.962112,40.805710,-73.984970,40.769550,1,...,10.5,1.0,0.5,2.46,0.00,NaN,0.3,14.76,1,1
65532,2,2015-09-02 16:57:21,2015-09-02 17:05:03,N,1,-73.829941,40.713718,-73.831917,40.702145,1,...,7.0,1.0,0.5,2.20,0.00,NaN,0.3,11.00,1,1
65533,2,2015-09-02 16:51:42,2015-09-02 17:05:28,N,1,-73.860748,40.832661,-73.845169,40.845306,1,...,10.5,1.0,0.5,2.46,0.00,NaN,0.3,14.76,1,1
65534,2,2015-09-02 16:40:36,2015-09-02 16:48:20,N,1,-73.941887,40.822948,-73.937180,40.804462,1,...,8.0,1.0,0.5,0.00,0.00,NaN,0.3,9.80,2,1

In [11]:
green_trip_data.columns

Index(['VendorID', 'lpep_pickup_datetime', 'Lpep_dropoff_datetime',
       'Store_and_fwd_flag', 'RateCodeID', 'Pickup_longitude',
       'Pickup_latitude', 'Dropoff_longitude', 'Dropoff_latitude',
       'Passenger_count', 'Trip_distance', 'Fare_amount', 'Extra', 'MTA_tax',
       'Tip_amount', 'Tolls_amount', 'Ehail_fee', 'improvement_surcharge',
       'Total_amount', 'Payment_type', 'Trip_type '],
      dtype='object')