In [1]:
import pandas as pd
import nose.tools
# Write your imports here

# Data Tidying and Cleaning Lab
## Reading, tidying and cleaning data. Preparing data for exploration, mining, analysis and learning

### Problem 1. Read the dataset (2 points)
The dataset [here](http://archive.ics.uci.edu/ml/datasets/Auto+MPG) contains information about fuel consumption in different cars.

Click the "Data Folder" link and read `auto_mpg.data` into Python. You can download it, if you wish, or you can read it directly from the link.

Give meaningful (and "Pythonic") column names, as per the `auto_mpg.names` file:
1. mpg
2. cylinders
3. displacement
4. horsepower
5. weight
6. acceleration
7. model_year
8. origin
9. car_name

In [3]:
mpg_data = pd.read_csv("data/auto-mpg.data")
# DON'T FORGET TO CHANGE IT WITH WEB LINK
mpg_data

    18.0   8   307.0      130.0      3504.      12.0   70  1\t"chevrolet chevelle malibu"
0    15.0   8   350.0      165.0      3693.      11...
1    18.0   8   318.0      150.0      3436.      11...
2    16.0   8   304.0      150.0      3433.      12...
3    17.0   8   302.0      140.0      3449.      10...
4    15.0   8   429.0      198.0      4341.      10...
5    14.0   8   454.0      220.0      4354.       9...
6    14.0   8   440.0      215.0      4312.       8...
7    14.0   8   455.0      225.0      4425.      10...
8    15.0   8   390.0      190.0      3850.       8...
9    15.0   8   383.0      170.0      3563.      10...
10   14.0   8   340.0      160.0      3609.       8...
11   15.0   8   400.0      150.0      3761.       9...
12   14.0   8   455.0      225.0      3086.      10...
13   24.0   4   113.0      95.00      2372.      15...
14   22.0   6   198.0      95.00      2833.      15...
15   18.0   6   199.0      97.00      2774.      15...
16   21.0   6   200.0      85.00      2587.      16...
17   27.0   4   97.00      88.00      2130.      14...
18   26.0   4   97.00      46.00      1835.      20...
19   25.0   4   110.0      87.00      2672.      17...
20   24.0   4   107.0      90.00      2430.      14...
21   25.0   4   104.0      95.00      2375.      17...
22   26.0   4   121.0      113.0      2234.      12...
23   21.0   6   199.0      90.00      2648.      15...
24   10.0   8   360.0      215.0      4615.      14...
25   10.0   8   307.0      200.0      4376.      15...
26   11.0   8   318.0      210.0      4382.      13...
27   9.0    8   304.0      193.0      4732.      18...
28   27.0   4   97.00      88.00      2130.      14...
29   28.0   4   140.0      90.00      2264.      15...
..                                                 ...
367  27.0   4   112.0      88.00      2640.      18...
368  34.0   4   112.0      88.00      2395.      18...
369  31.0   4   112.0      85.00      2575.      16...
370  29.0   4   135.0      84.00      2525.      16...
371  27.0   4   151.0      90.00      2735.      18...
372  24.0   4   140.0      92.00      2865.      16...
373  23.0   4   151.0      ?          3035.      20...
374  36.0   4   105.0      74.00      1980.      15...
375  37.0   4   91.00      68.00      2025.      18...
376  31.0   4   91.00      68.00      1970.      17...
377  38.0   4   105.0      63.00      2125.      14...
378  36.0   4   98.00      70.00      2125.      17...
379  36.0   4   120.0      88.00      2160.      14...
380  36.0   4   107.0      75.00      2205.      14...
381  34.0   4   108.0      70.00      2245       16...
382  38.0   4   91.00      67.00      1965.      15...
383  32.0   4   91.00      67.00      1965.      15...
384  38.0   4   91.00      67.00      1995.      16...
385  25.0   6   181.0      110.0      2945.      16...
386  38.0   6   262.0      85.00      3015.      17...
387  26.0   4   156.0      92.00      2585.      14...
388  22.0   6   232.0      112.0      2835       14...
389  32.0   4   144.0      96.00      2665.      13...
390  36.0   4   135.0      84.00      2370.      13...
391  27.0   4   151.0      90.00      2950.      17...
392  27.0   4   140.0      86.00      2790.      15...
393  44.0   4   97.00      52.00      2130.      24...
394  32.0   4   135.0      84.00      2295.      11...
395  28.0   4   120.0      79.00      2625.      18...
396  31.0   4   119.0      82.00      2720.      19...

[397 rows x 1 columns]

In [ ]:
nose.tools.assert_is_not_none(mpg_data)

Print the first 4 rows in the dataset to get a feel of what it looks like:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

### Problem 2. Inspect the dataset (1 point)
Write a function which accepts a dataset and returns the number of observations and features in it, like so: 

``` 10 observations on 15 features```

Where 10 and 15 should be replaced with the real numbers. Test your function with the `auto_mpg` dataset.

Make sure the function works with other datasets (don't worry about "1 features" or "1 observations", just leave it as it is).

In [ ]:
def observations_and_features(dataset):
    """
    Returns the number of observations and features in the provided dataset
    """
    observations = None
    features = None
    # YOUR CODE HERE
    raise NotImplementedError()
    return "{} observations on {} features".format(observations, features)

In [ ]:
print(observations_and_features(mpg_data))

Inspect the data types for each column.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

### Problem 3. Correct errors (1 point)
The `horsepower` column looks strange. It's a string but it must be a floating-point number. Find out why this is so and convert it to floating-point number.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
nose.tools.assert_equal(mpg_data.horsepower.dtype, "float64")

### Problem 4. Missing values: inspection (1 point)
We saw that the `horsepower` column contained null values. Display the rows which contain those values. Assign the resulting dataframe to the `unknown_hp` variable.

In [ ]:
def get_unknown_hp(dataframe):
    """
    Returns the rows in the provided dataframe where the "horsepower" column is NaN
    """
    unknown_hp = None
    # YOUR CODE HERE
    raise NotImplementedError()
    return unknown_hp

In [ ]:
cars_with_unknown_hp = get_unknown_hp(mpg_data)
print(cars_with_unknown_hp)

### Problem 5. Missing data: correction (1 point)
It seems like the `NaN` values are a small fraction of all values. We can try one of several things:
* Remove them
* Replace them (e.g. with the mean power of all cars)
* Look up the models on the internet and try our best guess on the power

The third one is probably the best but the first one will suffice since these records are too few. Remove those values. Save the dataset in the same `mpg_data` variable. Ensure there are no more `NaN`s.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
nose.tools.assert_equal(len(get_unknown_hp(mpg_data)), 0)

### Problem 6. Years of production (1 + 1 points)
Display all unique model years. Assign them to the variable `model_years`.

In [ ]:
def get_unique_model_years(dataframe):
    """
    Returns the unique values of the "model_year" column
    of the dataframe
    """
    model_years = None
    # YOUR CODE HERE
    raise NotImplementedError()
    return model_years

In [ ]:
model_years = get_unique_model_years(mpg_data)
print(model_years)

These don't look so good. Convert them to real years, like `70 -> 1970, 71 -> 1971`. Replace the column values in the dataframe.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
model_years = get_unique_model_years(mpg_data)
print(model_years)

### Problem 7. Exploration: low-power cars (1 point)
The data looks quite good now. Let's try some exploration.

Write a function to find the cars which have the smallest number of cylinders and print their model names. Return a list of car names.

In [ ]:
def get_model_names_smallest_cylinders(dataframe):
    """
    Returns the names of the cars with the smallest number of cylinders
    """
    car_names = None
    # YOUR CODE HERE
    raise NotImplementedError()
    return car_names

In [ ]:
car_names = get_model_names_smallest_cylinders(mpg_data)
print(car_names)
nose.tools.assert_true(car_names.shape == (4,) or car_names.shape == (4, 1))

### Problem 8. Exploration: correlations (1 point)
Finally, let's see some connections between variables. These are also called **correlations**.

Find how to calculate correlations between different columns using `pandas`.

**Hint:** The correlation function in `pandas` returns a `DataFrame` by default. You need only one value from it.

Create a function which accepts a dataframe and two columns and prints the correlation coefficient between those two columns.

In [ ]:
def calculate_correlation(dataframe, first_column, second_column):
    """
    Calculates and returns the correlation coefficient between the two columns in the dataframe.
    """
    correlation = None
    # YOUR CODE HERE
    raise NotImplementedError()
    return correlation

In [ ]:
hp_weight = calculate_correlation(mpg_data, "horsepower", "weight")
print("Horsepower:Weight correlation coefficient:", hp_weight)
nose.tools.assert_almost_equal(hp_weight, 0.864537737574, delta = 0.01)