In [1]:
import pandas as pd

In [4]:
titanic_data = pd.read_csv("data/titanic_original.csv")

In [8]:
titanic_data.isnull().sum()

pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64