In [9]:
import pandas as pd

In [10]:
tb = pd.read_csv("data/tb.csv")
tb.head(4)

,iso2,year,m04,m514,m014,m1524,m2534,m3544,m4554,m5564,...,f04,f514,f014,f1524,f2534,f3544,f4554,f5564,f65,fu
0,AD,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AD,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AD,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Melt the values
tb_tidy = pd.melt(tb, id_vars = ["iso2","year"], 
             value_name = "cases", 
             var_name = "sex_and_age")

In [12]:
# Separate the columns and merge back
partial_data = tb_tidy["sex_and_age"].str.extract("(\D)(\d+)(\d{2})", expand = True)
partial_data.columns = ["sex", "age_min", "age_max"]
partial_data["age"] = partial_data["age_min"] + "-" + partial_data["age_max"]
tb_tidy = pd.concat([tb_tidy, partial_data], axis = 1)

In [13]:
# Remove unnessesary columns
tb_tidy = tb_tidy.drop(["sex_and_age", "age_min", "age_max"], axis = 1)

In [14]:
# Remove missing values
tb_tidy = tb_tidy.dropna()

In [15]:
# Sort them all
tb_tidy = tb_tidy.sort_values(by = ["iso2", "year", "sex", "age", "cases"])

In [16]:
tb_tidy

       iso2  year   cases sex    age
69234    AD  1996     0.0   f   0-14
75003    AD  1996     1.0   f  15-24
80772    AD  1996     1.0   f  25-34
86541    AD  1996     0.0   f  35-44
92310    AD  1996     0.0   f  45-54
98079    AD  1996     1.0   f  55-64
11544    AD  1996     0.0   m   0-14
17313    AD  1996     0.0   m  15-24
23082    AD  1996     0.0   m  25-34
28851    AD  1996     4.0   m  35-44
34620    AD  1996     1.0   m  45-54
40389    AD  1996     0.0   m  55-64
69235    AD  1997     0.0   f   0-14
75004    AD  1997     1.0   f  15-24
80773    AD  1997     2.0   f  25-34
86542    AD  1997     3.0   f  35-44
92311    AD  1997     0.0   f  45-54
98080    AD  1997     0.0   f  55-64
11545    AD  1997     0.0   m   0-14
17314    AD  1997     0.0   m  15-24
23083    AD  1997     1.0   m  25-34
28852    AD  1997     2.0   m  35-44
34621    AD  1997     2.0   m  45-54
40390    AD  1997     1.0   m  55-64
11546    AD  1998     0.0   m   0-14
17315    AD  1998     0.0   m  15-24
23084    AD  1998     0.0   m  25-34
28853    AD  1998     1.0   m  35-44
34622    AD  1998     0.0   m  45-54
40391    AD  1998     0.0   m  55-64
...     ...   ...     ...  ..    ...
28842    ZW  2006  2391.0   m  25-34
34611    ZW  2006  1939.0   m  35-44
40380    ZW  2006   896.0   m  45-54
46149    ZW  2006   348.0   m  55-64
74995    ZW  2007   185.0   f   0-14
80764    ZW  2007   739.0   f  15-24
86533    ZW  2007  3311.0   f  25-34
92302    ZW  2007     0.0   f  35-44
98071    ZW  2007   553.0   f  45-54
69226    ZW  2007   178.0   f   5-14
103840   ZW  2007   213.0   f  55-64
17305    ZW  2007   138.0   m   0-14
23074    ZW  2007   500.0   m  15-24
28843    ZW  2007  3693.0   m  25-34
34612    ZW  2007     0.0   m  35-44
40381    ZW  2007   716.0   m  45-54
11536    ZW  2007   132.0   m   5-14
46150    ZW  2007   292.0   m  55-64
74996    ZW  2008   145.0   f   0-14
80765    ZW  2008   840.0   f  15-24
86534    ZW  2008     0.0   f  25-34
92303    ZW  2008  2890.0   f  35-44
98072    ZW  2008   467.0   f  45-54
103841   ZW  2008   174.0   f  55-64
17306    ZW  2008   127.0   m   0-14
23075    ZW  2008   614.0   m  15-24
28844    ZW  2008     0.0   m  25-34
34613    ZW  2008  3316.0   m  35-44
40382    ZW  2008   704.0   m  45-54
46151    ZW  2008   263.0   m  55-64

[29448 rows x 5 columns]